/* @import url("classic.css"); */

/*
 *
 * Defines default styles specific to Sphinx Press,
 * on top of VuePress styles
 *
 */

 /* FONTS FOR THE CODE - will fall back to monospace if unavailable */

 @import url('https://fontlibrary.org/face/roboto-mono');
 @import url('https://fontlibrary.org/face/inconsolata');


/*  */
 
 /* THE SECTION BELOW DEFINES THE APPEARANCE OF AUTODOC-GENERATED DOCS */
 
 .sig-name.descname {
  font-size: 1.2em;
  font-weight: bold;
  padding: 0 0 3px; /* creates a perfect grey rectangle*/
}

.sig-param {
  font-family: 'RobotoMonoRegular', 'Roboto Mono', 'Inconsolata', monospace;
  margin-left: 0.3em;
}

.sig-paren {
  margin-left: 0.3em;
}

dt {
  line-height: 1.5em;
  margin-bottom: 1em;
}

dt.field-odd, dt.field-even, p.rubric {
  font-size: 1.2em;
  font-weight: bold;
  color: #4d6a86
}

dd {
  margin-inline-start: 10px;
}

dd.field-odd p strong {
margin-left: 1em;
}

dl.method, dl.function {
  margin-top: 2em;
  margin-bottom: 3em;
}

.viewcode-link {
  margin-left: 1em;
  color: #9ad8bc;
}

/* THE SECTION BELOW DEFINES THE APPEARANCE OF TABLE-OF-CONTENTS */

/* color fixes for table of contents */
.toc-backref {
  /* TOCS cause all your section titles to go green. Pouah! */
  color: inherit;
}

.contents.topic p.topic-title {
  /* Hide all TOC titles */
  display: none;
}

.contents.topic {
  margin-bottom: 3em;
}


/* THE SECTION BELOW CHANGES CODE FONTS FOR BETTER 80-CHARS READABILITY */
/* Code will be displayed as Roboto, or Inconsolata if screen is small */
code, pre {
  font-family: 'RobotoMonoRegular', 'Roboto Mono', 'Inconsolata', monospace;
}

@media (max-width: 1200px) {
  code, pre {
      font-family: 'InconsolataRegular', 'Inconsolata', 'RobotoMonoRegular', 'Roboto Mono', monospace;
  }
  pre {
      font-size: 0.95em;
  }
}

blockquote {
  font-size: inherit;
  margin-left:-.4rem
}

blockquote h2 {
  margin-left: 1em;
}

/* THE SECTION BELOW FIXES A SPHINX-MERMAID OPACITY PROBLEM */
.content .section {
  opacity: 1.0 !important;
}
.section {
  opacity: 1.0 !important;
}

/* MAKES SPHINX SYNTAX figure:: :align:center WORK AGAIN */
.figure.align-center {
  text-align: center
}


 .content:not(.custom) {
  margin: 0 auto;
  padding: 2rem 2.5rem;
  /* max-width: 740px; */
  max-width: 840px;  /* MAKES MAIN TEXT SECTION LARGER */
 }




















 /* METTTA: main */

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #2c3e50;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  font-size: 16px;
}

/* .headerlink { display: none;} */
h1:hover a.headerlink:after,h2:hover a.headerlink:after,h3:hover a.headerlink:after,h4:hover a.headerlink:after,h5:hover a.headerlink:after,h6:hover a.headerlink:after {
  visibility:visible;
  content:"#";

  display: none;
}

a.headerlink {
  font-size:.85em;
  visibility:hidden
}

a.headerlink:hover {
  text-decoration:none
}

 /* METTTA: 
 
 layout */

 .related {
   display: none;
 }

 .footer {
  clear:both;
  min-height:2rem;
  margin-top: 0;
  padding-top: 1rem;
  overflow:auto;
  color:grey;
  font-size:small;
  line-height:1.5rem;

  border-top: 1px solid #eaecef;
  padding-left: 20rem;
  text-align: center;
}

/* .document */

.documentwrapper {
  padding-bottom: 2rem;
  padding-left: 20rem;
}

.body {
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem 2.5rem;
}

.body .section {
  margin-bottom: 0;
  /* margin-top: -4.1rem; */
  padding-top: 1rem;
}

/*  Typo */

a {
  font-weight:500;
  text-decoration:none
}

a:focus {
  outline:none
}

a,
p a code {
  color:#3eaf7c
}

p a code {
  font-weight:400
}

a:hover {
  text-decoration: underline;
}

kbd {
  background:#eee;
  border:.15rem solid #ddd;
  border-bottom:.25rem solid #ddd;
  border-radius:.15rem;
  padding:0 .15em
}

blockquote {
  font-size:1.2rem;
  color:#999;
  border-left:.25rem solid #dfe2e5;
  margin-left:0;
  padding-left:1rem
}

strong {
  font-weight:600
}

h1,h2,h3,h4,h5,h6 {
  font-weight:600;
  line-height:1.25
}

h1 {
  font-size:2.2rem
}

h2 {
  font-size:1.65rem;
  padding-bottom:.3rem;
  border-bottom:1px solid #eaecef
}

h3 {
  font-size:1.35rem
}

.line-number,code,kbd {
  font-family:source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace
}

ol,ul {
  padding-left:1.2em
}

ol, p, ul {
  line-height: 1.7;
}

hr {
  border:0;
  border-top:1px solid #eaecef
}

table {
  border-collapse:collapse;
  margin:1rem 0;
  display:block;
  overflow-x:auto
}

tr {
  border-top:1px solid #dfe2e5
}

tr:nth-child(2n) {
  background-color:#f6f8fa
}

td,th {
  border:1px solid #dfe2e5;
  padding:.6em 1em
}





/* nav ? */
ul.page-nav {
  list-style:none
}

ul.page-nav li {
  display:inline-block
}














/* admonition */

.content .highlight {
  border-radius:6px
}

.content .highlight pre {
  background-color:inherit
}

.content .highlighted {
  background-color:#fbe54e;
  font-weight:700;
  padding:0 4px
}

.admonition {
  padding:.1rem 1.5rem;
  border-left-width:.5rem;
  border-left-style:solid;
  margin:1rem 0;
  background-color:#e2e2e2;
  border-color:#787878
}

.admonition .admonition-title {
  font-weight:600;
  margin-bottom:-.4rem
}

.admonition.hint,.admonition.tip {
  background-color:#f3f5f7;
  border-color:#42b983
}

.admonition.important,.admonition.note {
  background-color:#e5f1fb;
  border-color:#5faaea
}

.admonition.caution,.admonition.warning {
  background-color:rgba(255,229,100,.3);
  border-color:#e7c000;
  color:#6b5900
}

.admonition.caution .custom-block-title,.admonition.warning .custom-block-title {
  color:#b29400
}

.admonition.caution a,.admonition.warning a {
  color:#2c3e50
}

.admonition.danger,.admonition.error {
  background-color:#ffe6e6;
  border-color:#c00;
  color:#4d0000
}

.admonition.danger .custom-block-title,.admonition.error .custom-block-title {
  color:#900
}

.admonition.danger a,.admonition.error a {
  color:#2c3e50
}





/* sidebar */

.sidebar,
.sphinxsidebar {
  font-size:15px;
  background-color:#fff;
  width:20rem;
  position:fixed;
  z-index:10;
  margin:0;
  /* top:3.6rem; */
  top:1rem;
  left:0;
  bottom:0;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  border-right:1px solid #eaecef;
  overflow-y:auto
}

.sphinxsidebarwrapper {
  padding: 0 1rem 0 2rem;
}

.sphinxsidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: .95em;
}

.sphinxsidebar ul ul {
  padding-left: 1rem;
}

.sphinxsidebar h3 {
  display: none;
}

.sphinxsidebar ul li a[href="#"] {
  color: black;
  line-height: 3rem;
  /* text-transform: capitalize; */
}


/* custom */

.section#license {
  line-height: 1.7;
}

/* .section#meta-information {} */


.asc-node {
  margin: 2rem 0;
}

.asc-node p {
  /* margin: 0.5rem 0; */
}

/* filter js */

.keyword {
  display: inline-block;
  background-color: #ddd;
  border-bottom: 1px solid transparent;
  border-radius: 4px;
  padding: 4px 5px 3px;
  line-height: 1;
  font-size: 0.85rem;
  user-select: none;
  cursor: pointer;
  white-space: nowrap;
}

.keyword:hover {
  border-bottom: 1px solid rgba(0,0,0,0.33);
}

.keyword-active {
  background-color: rgba(75,175,100,0.75);
}

.keyword-inactive {
  background-color: #ddd;
}

.keyword-nocontent {
  color: #808080;
  /* cursor: default; */
}

.keyword-nocontent:hover {
  /* border-bottom: 1px solid transparent; */
}

.asc-active {
  display: block;
}

.asc-inactive {
  display: none;
}